@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

/* hr {
  width: 90%;
  margin: auto;
} */

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter {
  width: 40rem;
  padding: 1rem;
  background-color: #435585;
  color: aliceblue;
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.counter > * {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 18px;
}

.count {
  font-size: 4rem;
  margin: 50px;
  border: 3px dashed #acc1cf;
  padding: 10px;
  background-color: #818FB4;
  color: #ffffff;
}

/* Button */

.buttons button {
  padding: 1rem;
  width: 80%;
  margin: 0 1rem;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
}


button.reset {
  background-color: #fcfcfc;
  color: #A2678A;
  transition: all 150ms ease;
  
}

button.reset:hover {
  background-color: #A2678A;
  color: #fcfcfc;
}


/* Footer */

.footer {
  position: absolute;
  margin-top: 300px;
}
.footer p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: #838486;
  letter-spacing: 1px;
}
.footer p i {
  color: rgb(145, 33, 198);
}

.footer p span {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.a {
  color: #8a4fbe;
}